# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ML Outputs
ai-engine/outputs/
runs/
wandb/
logs/
checkpoints/

# Models
*.pt
*.pth
*.onnx
*.engine
*.tflite

# Dataset
/data/
/datasets/


# IDE
.vscode/
flutter-app/.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
/backend/data/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
flutter-app/.dart_tool/
build/

docs/
.idea/

app-release.apk